

.navbar-container {
    max-width: 100%; /* Set the maximum width */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
  }
  .navbar {
    width: 100%; /* Ensure the navbar takes the full width of its container */
  }
.logo-margin{
   margin-left: 40px;
}
.text{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
   }
   .nav-menu{
       display:flex;
       align-items:center;
       justify-content: space-between;
       gap: 60px;
       box-shadow: 10px;
   }
   .navbar-nav .nav-link {
    margin-right: 20px; 
    text-decoration: none; 
    color: #171717; 
}

.navbar-nav .nav-link:last-child {
    margin-right: 0; /* Remove margin for the last item */
}
.hr_dec {
    border-top: 2px solid red; 
    width: 50%;
    margin: 0 auto; 
    margin-bottom: 0.5rem; 
    font-weight: bold;
}
     .btndesign {
        margin: 20px;
        width: 70px;
        height: 40px;
        border: 1px solid grey;
        background-color: white;
        color: grey;
        border-radius: 5px;
        cursor: pointer; 
    }
    
    .btndesign:hover {
        background-color: #f2f2f2; 
    }
    .cart-icon-margin{
        margin-right: 65px;
    }
    .cart-counter {
        position: absolute;
        top: 23px;
        right:5px ;
        font-size: 8px;
        color: white;
        background-color: red;
        padding: 5px;
    }
    .ntfn-counter {
        position: absolute;
        top: 23px;
        right: 53px;
        font-size: 8px;
        color: white;
        background-color: red;
        padding: 5px;
    }
   