.add-pro-btn{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 850px;
    margin-bottom: 10px;
}
.small-label{
    font-size: small;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    /* width:100%; */
    max-width: 800px;
}


.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .form-control.rounded-pill {
  padding: 0.375rem 0.75rem; 
  font-size: 0.875rem; 
} */
.fileUploadContainer {
    max-height: 100px; /* Set a fixed height for the image upload container */
    overflow: hidden; /* Hide overflow content */
}
.table-container {
    max-height: 300px; 
    overflow-y: auto; 
   
}

.table-container table {
    width: 100%;
    color: rgb(83, 81, 81);
}

.table-container th,
.table-container td {
    white-space: nowrap; 
}
.table-container th {
    background-color: rgb(159, 163, 163);
    color: #333;
    padding: 8px; 
}
